

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #64b5f6, #ADD8E6); 
    color: #fff; 
}

header {
    background: linear-gradient(to right, #005cb2, #007BFF); 
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease-in-out;
}

header:hover {
    background: linear-gradient(to right, #0f3868, #005cb2); 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #ffd700; 
}


#home {
    padding: 40px;
    text-align: center;
}


#about {
    padding: 40px;
}


#projects {
    padding: 40px;
}


#contact {
    padding: 40px;
    text-align: center;
}

footer {
    background: linear-gradient(to right, #005cb2, #007BFF); 
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); 
}

/* Project Cards */
.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px); 
}

.project-card h3 {
    margin-top: 0;
    color: #007BFF;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    background: #007BFF; 
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.project-card a:hover {
    background-color: #005cb2; 
}



nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #ffd700; 
}


html {
    scroll-behavior: smooth;
}
